.HomeHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.HomeContainer {
  width: 75%;
  height: 90%;
  color: white;
}

.BooksContainer {
  outline-width: 1px;
  outline-style: dashed;
  outline-color: rgb(255, 255, 255, 0.3);
  border-radius: 1rem;
}

.BooksGrid {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.NoBooksDescription {
  margin: 10px 160px;
  text-align: center;
  color: grey;
}

.BooksGrid .HomeButton {
  margin-top: 10px;
  margin-bottom: 80px;
}

.HomeButton {
  border-radius: 0.3rem;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
}

.HomeButton:hover {
  background-color: rgb(212, 211, 211);
}
