.HomeHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.HomeContainer {
  width: 75%;
  height: 90%;
  color: white;
}

.BooksContainer {
  outline-width: 1px;
  outline-style: dashed;
  outline-color: rgb(255, 255, 255, 0.3);
  border-radius: 1rem;
}

.BooksGrid {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NoBooksDescription {
  margin: 10px 160px;
  text-align: center;
  color: grey;
}

.BooksGrid .DefaultButton {
  margin-top: 10px;
  margin-bottom: 80px;
}

.DefaultButton:hover {
  background-color: rgb(212, 211, 211);
  cursor: pointer;
}

.BookIcon {
  width: 96px;
  height: 96px;
  margin: 40px 0 12px;
  display: block;
  color: #ffffff; /* uses currentColor for stroke/fill */
}
